.layout-size{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-child{
    border-radius: 10px;
    margin: 0 2em;
    height: 580px;
    min-height: 580px;
    width: 100%;
    padding: .5em;
    display: block;
}